
.app {
  background-color: #fafafa;
  min-height: 100vh;
}

.app__header {
  background-color: white;
  padding: 13px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  margin-bottom: 10px;
}

.app__post {
  display: flex;
  flex-direction: column;
  align-items: center;
}